html {
    font-size: 10px;
}
body {

    width: 100%;
    margin-top: 0px;
    padding:0px ;
    border-top: solid 0.8rem rgb(93, 182, 180);
    background-color: rgba(252, 248, 248, 0.925)
    
}
.wrapper {
    max-width:100% ;
    margin:0px 18% ;
    margin-bottom: 0.2rem;
}

.header-left {
    margin-top: 2rem;
    padding: 0.4rem 0px 0.2rem 0px;
    display: inline-block;
}
.header-left img {
    margin-top: 3rem;
    width: 28rem;
}
.header-right {
    float: right;
    margin-top: 1.2rem;
}
.header-right p{
    font-size: 0.12rem;
    margin: 2rem 0px 0.1rem 0px;
}

.phone h3{
    display: inline-block;
    font-size: 2.4rem;
    left: 0.4rem;
    position: relative;
    bottom: 0.1rem;
    letter-spacing: 0.2rem;
    margin:2rem 0px; 
}
.time {
    border: solid 0.2rem gainsboro;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 0.15rem;
}
.time p{
    margin: 0.2rem 0.4rem;
    letter-spacing: 0.2rem;

}
.time p span {
    color: red;
    letter-spacing: 0.2rem;
    margin-left: 2rem;
}
.rute {
    margin-top: 1rem;
    letter-spacing: 0.2rem;
}
.rute p{
    display: inline;
}
nav ul{
    display: flex;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.navi {
text-decoration: none;
list-style-type: none; 
flex-shrink: 0;
margin-top: 4rem;
background: linear-gradient(to bottom ,rgb(142, 231, 231) , rgb(93, 182, 180));
border-right:#71C9C7 solid 0.1rem ;
border-left: #99E1DF solid 0.1rem ;
width: 27.4%;
padding:1.7rem 0px 1.8rem 0px;

}
.first {
    border-radius: 0.6rem 0px 0px 0.6rem;
    padding-left:0px;
}
.fifth {
    border-radius: 0px 0.6rem 0.6rem 0px;
}
.ja {
    color: white;
    text-shadow: 0.2rem 0.2rem 0px gray;
    font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN',sans-serif;
    z-index: 1;
    font-size: 1.5rem;
}
.en {
    color: orange;
    text-shadow:0.2rem 0.2rem 0px gray;
    font-size: 0.5rem;
    font-family: YuGothic,'Yu Gothic',sans-serif;
    z-index: 1;
}
.navi:hover {
    z-index: 1;
	background-image:-moz-linear-gradient(50% -1%,rgb(93, 182, 180) 0%,rgb(156,227,225) 100%); 
	background-image:-webkit-gradient(linear,50% -1%,50% 101%,color-stop(0, rgb(93, 182, 180)),color-stop(1, rgb(156,227,225)));
	background-image:-webkit-linear-gradient(rgb(93, 182, 180) 0%,rgb(156,227,225) 100%);
	background-image:-o-linear-gradient(rgb(93, 182, 180) 0%,rgb(156,227,225) 100%);
	background-image:-ms-linear-gradient(rgb(93, 182, 180) 0%,rgb(156,227,225) 100%);
	background-image:linear-gradient(rgb(93, 182, 180) 0%,rgb(156,227,225) 100%);
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff6cc6c4,endColorstr=#ff9ce3e1,GradientType=0)";
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff6cc6c4,endColorstr=#ff9ce3e1,GradientType=0);
	text-shadow: 0.1rem 0.1rem 0.2rem #6CC6C4; /*CSS3*/
	-moz-text-shadow: 0.1rem 0.1rem 0.2rem #6CC6C4; /* Firefox用*/
	-webkit-text-shadow: 0.1rem 0.1rem 0.2rem #6CC6C4; /* Google Chrome, Safari用*/
}
.side {
    float: left;
}
.side a{
    text-decoration: none;
    color: rgb(85, 77, 77);
    position: relative;
    right: 2rem;
}

.side1 {
    border: rgb(93, 182, 180) solid 1px;
    margin-top: 1rem;
    border-radius: 0.8rem;
}
.side1 h5{
   margin: 0px;
   box-sizing: initial;
   background-color: rgb(93, 182, 180);
   padding: 1.7rem 18rem 2rem 1.6rem;
   border-radius: 0.7rem 0.7rem 0px 0px;
   color: white;
   font-size: 1.4rem;
   height: 1.6rem;
   align-items: center;
   font-weight: bold;
}
.side1 ul{
    background-color: white;
    list-style-type: none;
    font-weight: bold;
    font-size: 1.4rem;
    margin: 0px;
    padding-top: 0.8rem;
    padding-bottom: 0.4rem;
    font-family:serif;
    display: block;
    border-radius: 0.7rem;
}
.side1 ul li{
    margin: 0.5rem 0rem 0rem 0rem;
    border-bottom: rgb(93, 182, 180) solid 2px;
    padding:0.2rem 0px 1.1rem 0px;    
    vertical-align: middle;
}

.side2 {
    border: rgb(93, 182, 180) solid 1px;
    margin-top: 2rem;
    border-radius: 0.8rem;
}
.side2 h5{
   margin: 0px;
   box-sizing: initial;
   background-color: rgb(93, 182, 180);
   padding: 1.7rem 18.1rem 2rem 1.6rem;
   border-radius: 0.7rem 0.7rem 0px 0px;
   color: white;
   font-size: 1.4rem;
   height:1.6rem;
   align-items: center;
   font-weight: bold;
}
.side2 ul{
    background-color: white;
    list-style-type: none;
    font-weight: bold;
    font-size: 1.4rem;
    margin: 0px;
    padding-top:0.8rem ;
    padding-bottom:0.4rem;
    font-family:serif;
    display: block;
    border-radius: 0.7rem;
}
.side2 ul li{
    margin: 0.5rem 0rem 0rem 0rem;
    border-bottom: rgb(93, 182, 180) solid 2px;
    padding:0.2rem 0px 1.1rem 0px;    
    vertical-align: middle;
}
.main {
    height: 80rem;
}
.mainelement {
    margin-left: 2rem;
    background-color: white;
    width: 69.4%;
    border-radius: 0.7rem;
    display: inline-block;
    margin-top: 1rem;
    height: 78rem;
}
.mainelement h2 {
    color: white;
    font-size: 2rem;
    padding:2rem;
    margin: 0rem 0rem 2rem 0rem;
   background-color: rgb(93, 182, 180);
   border-radius: 0.7rem 0.7rem 0rem 0rem;

}
.mainelement a {
    display: block;
    margin: 1rem 0rem 1rem 2rem;
    font-size: 1rem;
}
.mainelement p {
    display: inline-block;
    position: relative;
    bottom:20rem;
    left: 25rem;
    letter-spacing: 1.5rem;
    font-size: 1rem;
    font-family: 'ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;
    line-height: 3rem;

}
.mainelement h1 {
    display: inline-block;
    letter-spacing: 1rem;
    font-size: 2rem;
    position: relative;
    bottom:20rem;
    left: 5.5rem;
    color: rgb(93, 182, 180);
    font-family: 'ヒラギノ角ゴ StdN','Hiragino Kaku Gothic StdN',sans-serif;
}

iframe {
    margin-left: 2rem;
    width: 60rem;
    height: 40rem;
}
.mainelement .border{
    border: rgb(93, 182, 180) 0.4rem solid;
    display: block;
    margin-left: 2rem;
    width: 59.5rem;
    height: 0rem;
}
.mainelement img{
    width: 20rem;
    height: 20rem;
    margin: 2rem 2rem 2rem 2rem;
}
.footernavi ul{
    display: inline-block;
    background-color: rgb(93, 182, 180);
    border-radius: 0.8rem;
    padding-right: 22rem;
    color: white;
    margin-top: 3.5rem;
    letter-spacing: 0.2rem;
    vertical-align: middle;
}
.footernavi li  {
list-style-type: none;
border-radius: 8px;
margin:0rem 1.6rem 0rem 0rem;
height: 1.8rem;
font-size: 1.4rem;
padding: 0.8rem 0rem;
vertical-align:bottom ;
float: left;

}
.footernavi ul li img{
margin-right: 0.2rem;
position:relative;
top: 0.2rem;
}

footer .address {
    float: right;
    margin-top: 0px;
    padding-left: 45.2rem;
    padding-bottom: 2rem;
    font-size: 1.4rem;
    border-bottom: rgb(93, 182, 180) solid 1px;
}
.footerbtm {
    font-size: 0.9rem;
    text-align: center;
}